* {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

h3,
h5 {
  margin: 0px !important;
}

h3 {
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

.tool-tip {
  color: black !important;
}

#fp-nav span {
  background: white !important;
}

#fp-nav {
  color: white !important;
}

.fp-slidesNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fp-slidesNav span {
  background: white !important;
}

#fp-nav {
  right: 0px !important;
}

.fp-scroller {
  height: 100% !important;
}
